@font-face {
  font-family: "iconfont"; /* Project id 3792318 */
  src: url('iconfont.woff2?t=1669366317101') format('woff2'),
       url('iconfont.woff?t=1669366317101') format('woff'),
       url('iconfont.ttf?t=1669366317101') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 49px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiatupian:before {
  content: "\e7dd";
  font-size: 149px;
}

.icon-fanhui2:before {
  content: "\e615";
  font-size: 49px;
}

.icon-tishishuoming:before {
  content: "\e64c";
  font-size: 49px;
}

